:root {
  --font-family: "Golos Text",sans-serif;
  --content-width: 1200px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white-color: #fff;
  --black-color: #263238
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1
}
.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: red solid 2px;
  outline-offset: 2px
}
.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: .4;
  pointer-events: none
}
@font-face {
  font-family: "Golos Text";
  src: url(../fonts/Golos-Text-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: "Golos Text";
  src: url(../fonts/Golos-Text-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal
}
@font-face {
  font-family: "Golos Text";
  src: url(../fonts/Golos-Text-DemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
.page {
  height: 100%;
  font-family: var(--font-family,sans-serif);
  -webkit-text-size-adjust: 100%
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px
}
.site-container {
  overflow: hidden
}
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0
}
.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width)
}
.header {
  padding-top: 18px;
  padding-bottom: 18px
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__link {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__icon-tel {
  margin-right: 10px
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.nav__item:not(:last-child) {
  margin-right: 50px
}
.nav__link {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none
}