.hero {
	padding-top: 27px;
	margin-bottom: 25px;
	&__container {
		&-text {
			display: flex;
			align-items: center;
			gap: 15px;
			margin-bottom: 80px;
		}
		&-navigation {
			position: absolute;
			bottom: 50px;
			left: 50px;
			z-index: 970;
		}
	}
	&__slider {
		position: relative;
	}
	&__slide {
		box-sizing: border-box;
		padding: 50px;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		max-height: 500px; /* вообще не оч идея - на адаптиве убрать надо будет */
		&-first {
			background: linear-gradient(134deg, var(--dark-blue-color) 19.3%, rgba(20, 38, 71, 0.73) 100%);
		}
		&-second {
			background: linear-gradient(180deg, #142647 31.45%, #1f3c70 100%);
			& .hero {
				&__container {
					&-text {
						margin-bottom: 100px;
					}
				}
				&__subtitle {
					margin-bottom: 26px;
				}
			}
		}
		&-third {
			background: linear-gradient(92deg, var(--dark-blue-color) 33.35%, var(--title-color) 100%);
			& .hero {
				&__text {
					&-alone {
						max-width: 522px;
						font-size: 14px;
						line-height: 105.461%;
					}
				}
				&__subtitle {
					margin-bottom: 26px;
				}
			}
		}
		&-fourth {
			background: linear-gradient(132deg, var(--dark-blue-color) 0%, #142647 60.87%);
			& .hero {
				&__container {
					&-text {
						margin-bottom: 95px;
					}
				}
				&__text {
					&-alone {
						max-width: 455px;
						font-size: 14px;
						line-height: 105.461%;
					}
				}
				&__subtitle {
					margin-bottom: 34px;
				}
			}
		}
	}
	&__title {
		color: var(--title-color);
		font-size: 62px;
		font-weight: 600;
	}
	&__subtitle {
		color: var(--white-color);
		font-size: 48px;
		line-height: 48px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 15px;
		max-width: 430px;
	}
	&__text {
		color: var(--white-color);
		font-size: 14px;
		max-width: 263px;
		line-height: 100%;
		&-alone {
			max-width: 386px;
			font-size: 18px;
			line-height: 105.461%;
		}
	}
	&__button {
		padding: 10px 20px;
		color: var(--white-color);
		font-size: 15px;
		font-weight: 600;
		line-height: 18px;
		border-radius: 8px;
		margin-bottom: 100px;
		text-decoration: none;
		&-primary {
			background: var(--title-color);
		}
		&-secondary {
			background: var(--secondary-button-color);
		}
		&-thirdly {
			background: var(--thirdly-button-color);
		}
		&-fourthly {
			background: var(--dark-blue-color);
		}
		&-next {
			margin-left: 40px;
		}
	}
	&__icon {
		&-next {
			transform: rotate(180deg);
		}
	}
}

@media (max-width: 1024px) {
	.hero {
		&__container {
			&-navigation {
				bottom: 30px;
				left: 30px;
			}
			&-text {
				margin-bottom: 40px;
			}
		}
		&__image {
			&-slide {
				&-1 {
					width: 424px;
					height: 350px;
				}
			}
		}
		&__title {
			font-size: 58px;
			line-height: 58px;
		}
		&__subtitle {
			font-size: 42px;
			line-height: 39.5px;
			margin-bottom: 10px;
		}
		&__text {
			font-size: 12px;
			line-height: 105.461%;
			max-width: 202px;
		}
		&__slide {
			padding: 30px;
			height: unset;
			&-second {
				& .hero {
					&__text {
						&-alone {
							max-width: 310px;
						}
					}
				}
			}
			&-third {
				& .hero {
					&__text {
						&-alone {
							max-width: 430px;
						}
					}
				}
			}
		}
		&__button {
			margin-bottom: 90px;
		}
		&__image {
			max-height: 350px;
		}
	}
}

@media (max-width: 768px) {
	.hero {
		padding-top: 25px;
		&__subtitle {
			max-width: unset;
		}
		&__title {
			font-size: 48px;
		}
		&__image {
			max-height: 220px;
			width: fit-content;
			position: absolute;
			bottom: 30px;
			right: 30px;
		}
		&__button {
			margin-bottom: 80px;
		}
	}
}

@media (max-width: 640px) {
	.hero {
		&__container-text {
			margin-bottom: 60px;
		}
		&__subtitle {
			font-size: 34px;
		}
		&__image {
			max-height: 200px;
		}
		&__slide {
			&-first {
				& .hero {
					&__subtitle {
						margin-bottom: 6px;
					}
				}
			}
			&-second {
				& .hero {
					&__subtitle {
						margin-bottom: 6px;
					}
				}
			}
			&-third {
				& .hero {
					&__subtitle {
						font-size: 28px;
						margin-bottom: 6px;
					}
					&__image {
						max-height: 180px;
					}
				}
			}
			&-fourth {
				& .hero {
					&__subtitle {
						margin-bottom: 6px;
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.hero {
		padding-top: 20px;
		&__image {
			width: 100%;
			max-height: 205px;
			position: relative;
			bottom: unset;
			right: unset;
		}
		&__container {
			&-text {
				margin-bottom: 30px;
			}
		}
		&__button {
			margin-bottom: 0;
			position: absolute;
			bottom: 26px;
			right: 30px;
		}
		&__slide {
			flex-direction: column;
			justify-content: unset;
			padding-bottom: 80px;
			&-second {
				.hero {
					&__container {
						&-text {
							margin-bottom: 30px;
						}
					}
				}
			}
			&-fourth {
				.hero {
					&__container {
						&-text {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 454px) {
	.hero {
		&__subtitle {
			font-size: 28px;
			line-height: 100%;
		}
		&__title {
			font-size: 48px;
		}
		&__text {
			font-size: 10px !important;
		}
		&__slide {
			padding: 20px;
			padding-bottom: 80px;
		}
	}
}

@media (max-width: 385px) {
	.hero {
		&__subtitle {
			font-size: 21px;
		}
		&__title {
			font-size: 32px;
		}
		&__text {
			font-size: 8px !important;
		}
	}
}
