.nav {
	&__list {
		display: flex;
	}
	&__item {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
	&__link {
		color: var(--black-color);
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
	}
}
