.service {
	background: var(--grey-color);
	padding-top: 12px;
	padding-bottom: 12px;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__link {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__text {
		color: var(--white-color);
		font-size: 14px;
	}
	&__icon {
		margin-right: 9px;
	}
}
