<header class="header">
	<div class="container header__container">
		<a href="/" class="header__link-logo">
			<img
				loading="lazy"
				src="./img/logo.svg"
				class="image header__logo"
				width="79"
				height="55"
				alt="логотип компании"
			/>
		</a>
		<nav class="nav" title="Навигационная панель">
			<ul class="nav__list list-reset">
				<li class="nav__item"><a href="#" class="nav__link">Компания</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Лицензии</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Наши проекты</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
			</ul>
		</nav>
		<div class="header__social">
			<div class="header__container-tel">
				<a href="tel:88002016216" class="header__link">
					<img
						loading="lazy"
						src="./img/phone.svg"
						class="image header__icon-tel"
						width="15"
						height="15"
						alt="Иконка телефона"
					/>
					8 800 2016 216
				</a>
			</div>
			<button class="btn-reset header__button-text">Заказать звонок</button>
			<a href="#" class="btn-reset header__button-icon">
				<img
					loading="lazy"
					src="./img/tg.svg"
					class="image header__icon-tg"
					width="24"
					height="21"
					alt="Иконка telegramm"
				/>
			</a>
			<a href="#" class="btn-reset header__button-icon">
				<img
					loading="lazy"
					src="./img/user.svg"
					class="image header__icon-user"
					width="25"
					height="25"
					alt="Иконка пользователя"
				/>
			</a>
		</div>
	</div>
</header>
