<section class="hero">
	<div class="container hero__container">
		<div class="swiper hero__slider">
			<div class="swiper-wrapper hero__wrapper">
				<div class="swiper-slide hero__slide hero__slide-first">
					<div class="hero__container-side">
						<h3 class="hero__subtitle">ГРУППА КОМПАНИЙ</h3>
						<div class="hero__container-text">
							<h2 class="hero__title">OPTI</h2>
							<p class="hero__text">
								Комплексный подход в упаковке, автоматизации и продвижении вашего бизнеса.
							</p>
						</div>
						<button class="btn-reset hero__button hero__button-primary">Подробнее</button>
					</div>
					<img
						loading="lazy"
						src="./img/slide-image-1.svg"
						class="image hero__image-slide-1"
						width="486"
						height="402"
						alt="Изображние слайда"
					/>
				</div>
				<div class="swiper-slide hero__slide hero__slide-second">
					<div class="hero__container-side">
						<h3 class="hero__subtitle">Разработка сайтов</h3>
						<div class="hero__container-text">
							<p class="hero__text hero__text-alone">
								Комплексная разработка сайтов под ключ, а так же работа с действующими сайтами
							</p>
						</div>
						<button class="btn-reset hero__button hero__button-secondary">Подробнее</button>
					</div>
					<img
						loading="lazy"
						src="./img/slide-image-2.svg"
						class="image hero__image-slide-2"
						width="396"
						height="400"
						alt="Изображние слайда"
					/>
				</div>
				<div class="swiper-slide hero__slide hero__slide-third">
					<div class="hero__container-side">
						<h3 class="hero__subtitle">Внедрение Битрикс24</h3>
						<div class="hero__container-text">
							<p class="hero__text hero__text-alone">
								Стройте работу в команде, управляйте продажами и компаниейс помощью одной из самых
								популярных CRM-систем. Помогаем выбрать версию, настроить интеграцию с внешними
								сервисамии автоматизировать бизнес-процессы.
							</p>
						</div>
						<button class="btn-reset hero__button hero__button-thirdly">Подробнее</button>
					</div>
					<img
						loading="lazy"
						src="./img/slide-image-3.svg"
						class="image hero__image-slide-3"
						width="406"
						height="400"
						alt="Изображние слайда"
					/>
				</div>
				<div class="swiper-slide hero__slide hero__slide-fourth">
					<div class="hero__container-side">
						<h3 class="hero__subtitle">Техническая поддержка</h3>
						<div class="hero__container-text">
							<p class="hero__text hero__text-alone">
								Решаем технические вопросы и консультируем по инструментам и работе платформ, сайтов и
								CRM систем
							</p>
						</div>
						<button class="btn-reset hero__button hero__button-fourthly">Подробнее</button>
					</div>
					<img
						loading="lazy"
						src="./img/slide-image-4.svg"
						class="image hero__image-slide-4"
						width="432"
						height="400"
						alt="Изображние слайда"
					/>
				</div>
			</div>
			<div class="hero__container-navigation">
				<button class="btn-reset hero__button-prev">
					<img
						loading="lazy"
						src="./img/prev-arrow.svg"
						class="image hero__icon-arrow"
						width="14"
						height="25"
						alt="Стрелка назад"
					/>
				</button>
				<button class="btn-reset hero__button-next">
					<img
						loading="lazy"
						src="./img/prev-arrow.svg"
						class="image hero__icon-next"
						width="14"
						height="25"
						alt="Стрелка вперед"
					/>
				</button>
			</div>
		</div>
	</div>
</section>
