<section class="service">
	<div class="container service__container">
		<ul class="list-reset service__list">
			<li class="service__item">
				<a href="#" class="service__link">
					<img
						loading="lazy"
						src="./img/bitrix.svg"
						class="image service__icon service__icon-bitrix"
						width="46"
						height="25"
						alt="Иконка битрикс"
					/>
					<span class="service__text">Битрикс 24</span>
				</a>
			</li>
			<li class="service__item">
				<a href="#" class="service__link">
					<img
						loading="lazy"
						src="./img/robot.svg"
						class="image service__icon service__icon-robot"
						width="34"
						height="35"
						alt="Иконка автоматизации"
					/>
					<span class="service__text">Автоматизация бизнес-процессов</span>
				</a>
			</li>
			<li class="service__item">
				<a href="#" class="service__link">
					<img
						loading="lazy"
						src="./img/web.svg"
						class="image service__icon service__icon-web"
						width="36"
						height="33"
						alt="Иконка web-разработка"
					/>
					<span class="service__text">WEB – разработка</span>
				</a>
			</li>
			<li class="service__item">
				<a href="#" class="service__link">
					<img
						loading="lazy"
						src="./img/keyboard.svg"
						class="image service__icon service__icon-keyboard"
						width="49"
						height="25"
						alt="Иконка техподдержки"
					/>
					<span class="service__text">Техническая поддержка</span>
				</a>
			</li>
			<li class="service__item">
				<a href="#" class="service__link">
					<img
						loading="lazy"
						src="./img/screen.svg"
						class="image service__icon service__icon-screen"
						width="36"
						height="33"
						alt="Иконка аналитики"
					/>
					<span class="service__text">Сквозная аналитика</span>
				</a>
			</li>
		</ul>
	</div>
</section>
