<section class="service">
	<div class="container service__container">
		<div class="service__list">
			<a href="./" class="service__item service__item-main">
				<h4 class="service__title service__title-main">Создаем интернет-магазины</h4>
				<div class="service__container-text-icon">
					<div class="service__text service__text-main">Узнать подробнее</div>
					<img
						src="./img/main-item-icon.svg"
						class="image service__icon-main"
						width="160"
						height="95"
						alt="Девушка с монитором"
					/>
				</div>
			</a>
			<div class="service__container-double">
				<a href="./" class="service__item service__item-double">
					<h4 class="service__title service__title-audit">Проводим аудит сайтов</h4>
					<img
						src="./img/double-item-icon-1.svg"
						class="image service__icon-audit"
						width="62"
						height="40"
						alt="Иконка аудит"
					/>
				</a>
				<a href="./" class="service__item service__item-double">
					<h4 class="service__title">
						Работаем <br />
						с SEO
					</h4>
					<img
						src="./img/double-item-icon-2.svg"
						class="image service__icon-seo"
						width="70"
						height="60"
						alt="Иконка SEO"
					/>
				</a>
			</div>
			<div class="service__container-triple">
				<a href="./" class="service__item service__item-triple">
					<h4 class="service__title">Обучение</h4>
					<img
						src="./img/triple-item-icon-1.svg"
						class="image service__icon-learning"
						width="56"
						height="34"
						alt="Иконка обучение"
					/>
				</a>
				<a href="./" class="service__item service__item-triple">
					<h4 class="service__title service__title-CRM">Проводим аудит CRM</h4>
					<img
						src="./img/triple-item-icon-2.svg"
						class="image service__icon-CRM"
						width="85"
						height="80"
						alt="Иконка CRM"
					/>
				</a>
			</div>
			<div class="service__container-triple-reverse">
				<a href="./" class="service__item service__item-triple-reverse service__item-triple-reverse-first">
					<div class="service__container-text">
						<h4 class="service__title service__title-reverse">Маркетинг продаж</h4>
						<div class="service__text service__text-main">Узнать подробнее</div>
					</div>
					<img
						src="./img/triple-reverse-item-icon-1.svg"
						class="image service__icon-marketing"
						width="245"
						height="85"
						alt="Иконка маркетинга"
					/>
				</a>
				<a href="./" class="service__item service__item-triple-reverse service__item-triple-reverse-smaller">
					<h4 class="service__title service__title-ip">Настраиваем IP телефонию</h4>
					<img
						src="./img/triple-reverse-item-icon-2.svg"
						class="image service__icon-recording"
						width="72"
						height="25"
						alt="Иконка записи"
					/>
				</a>
				<a href="./" class="btn-reset service__button service__link">Все услуги</a>
			</div>
		</div>
	</div>
</section>
