.navigation {
  background: var(--grey-color);
  padding-top: 12px;
  padding-bottom: 12px
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px
}
.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none
}
.navigation__text {
  color: var(--white-color);
  font-size: 14px;
  text-align: center
}
.navigation__icon {
  margin-right: 9px
}
@media (max-width:768px) {
  .navigation {
    display: none
  }
}